<div class="min-h-screen bg-blue-50">
    <div class="py-10">
        <div class="max-w-4xl mx-auto px-4">
            
            <h1 class="text-2xl font-bold text-center text-blue-600 mb-4">Your Routine</h1>
            
            <div class="bg-white shadow-lg rounded-lg p-6">
                <h2 class="text-xl text-blue-600 mb-2">Level: {{level}} Intermediate</h2> {{!-- Cambiar ruta de DB --}}

                <div class="mb-4">
                    {{{routineContent}}} {{!-- Cambiar ruta de DB --}}
                    <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam repellendus consectetur veniam! Molestiae dicta ea fugit nam eligendi voluptatem, quos optio mollitia culpa dignissimos quam nobis aliquam ipsa, corrupti voluptate. </p>
                </div>

                <button class="px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600" onclick="deleteRoutine({{routineId}})">Delete</button> {{!-- Cambiar ruta de DB --}}
            </div>
        </div>
    </div>
</div>